<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">MEAN Auth App</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li *ngIf="!authService.loggedIn()" class="nav-item text-nowrap"> 
      <a class="nav-link" [routerLinkActive]="['active']" 
      [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/login']">Login</a>
    </li>
    <li *ngIf="authService.loggedIn()" class="nav-item text-nowrap"> 
      <a class="nav-link" href="#" (click)="logOut()">Logout</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
