<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" [routerLinkActive]="['active']" 
            [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">
          <span data-feather="home"></span> Home
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']">
          <span data-feather="home"></span> Dashboard
        </a>
      </li>   
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">
          <span data-feather="home"></span> Profile
        </a>
      </li>     
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="nav-link" [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}"[routerLink]="['/register']">
          <span data-feather="home"></span> Register
        </a>
      </li>  
    </ul>
  </div>
</nav>
